<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/upload.css" rel="stylesheet">

    <title>PictureSamples</title>
</head>
<body>

<h1> <%= title %> </h1>

<div class="row">

    <ul>
        <% for(var i=0; i<pictures.length; i++) {%>
        <li><%= pictures[i] %>  </li>
        <% } %>
    </ul>

</div>

</body>
</html>